##### [IDE] ############################################################################################################
/.idea/
/.git/
##### [DEV] ############################################################################################################
/.editorconfig
/.eslintrc.json
/.gitignore
/.npmignore
/.npmrc
/.nvmrc
/.prettierrc
##### [NODE] ###########################################################################################################
/node_modules/
package-lock.json
